<!--div-- *ngIf="showPreview2"  class="container">
    <div>
        <div>
            <div class="d-flex justify-content-around">
                <button class="btn btn-outline-dark mb-3 " (click)="back3()">Fermer le visualiseur</button>
             
                <button class="btn btn-outline-success mb-3 " *ngIf="hasPermission('autorisation') && !selected_data.isAutorized && isSigner() && selected_data.status!=7"  [disabled]="loading" (click)="open(dialogSign)">Signer l'attestation</button>
                <button class="btn btn-outline-success mb-3 " *ngIf="hasPermission('autorisation') && selected_data.isAutorized && isSigner() && selected_data.status!=7"  [disabled]="loading" (click)="delivered()">Délivrer l'attestation</button>
        
            </div>
        </div>

        <div>
         
            <object [data]="pdfSrc" type="application/pdf" width="100%" height="600px"></object>
        </div>
    </div>
  
    
  </!--div-->