<div class="card mb-3">
  <div class="card-header">
    <strong>Informations de la demande</strong>
  </div>

  <div class="card-body row">
    <div class="col-md-4">
      <b>Demandeur :</b> {{selectedData?.email}} | {{selectedData?.phone}}
    </div>

    <div class="col-md-4">
      <b>Prestation :</b> {{selectedData?.prestation?.name}}
    </div>

    <div class="col-md-4">
      <b>Etape/Statut :</b>
      <span class="badge bg-info">{{selectedData?.eps?.etape?.name}}</span>
    <span class="badge bg-info">{{selectedData?.eps?.ps?.status?.name}}</span>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="selectedData?.filename">
  <div class="card-body text-center">

    <h5>
      <i class="bi bi-file-earmark-pdf text-danger"></i>
      Livrable disponible
    </h5>

    <button class="btn btn-primary"
      (click)="showResponseFile(selectedData.filename)">
      Voir le document
    </button>

  </div>
</div>

<div class="card mb-3" *ngIf="selectedData?.user_reponse">
    <div class="card-header">
    <strong>Réponse utilisateur</strong>
  </div>

  <div class="card-body text-center">

   <dl>
    <dt>Observation</dt>
    <dd>{{selectedData?.user_reponse?.observation}}</dd>
   </dl>

   <dl *ngIf="selectedData?.user_reponse?.note">
    <dt>Fiche de note</dt>
    <dd >
           <button type="button" class="btn btn-primary btn-sm" (click)="showResponseFile(selectedData?.user_reponse?.note!)">
                      Voir la note
                    </button>
    </dd>
   </dl>
  </div>
</div>




<div class="card mb-3">
  <div class="card-header">
    Décision
  </div>

  <div class="card-body">

    <div class="form-group mb-3">
        <label for="">Statut</label>
    <ng-select name="eps_id" [(ngModel)]="responseData.eps_id" (change)="checkShowAddingField($event)">
      <ng-option *ngFor="let w of workflow?.next" [value]="w.id">{{w?.etape?.name}}=> {{w?.ps?.status?.name}}</ng-option>
    </ng-select>
    </div>
      <div class="form-group mb-3" *ngIf="showAddingField.rdv">
        <label for="">Date et heure (Prise de RDV)</label>
        <input type="datetime-local" class="form-control" [(ngModel)]="rdvDate" (change)="generateMessage()">
    </div>
    <div class="form-group mb-3" *ngIf="showAddingField.observation">
        <label for="">Observation</label>
        <textarea class="form-control" name="observation" [(ngModel)]="responseData.observation"></textarea>
    </div>
     <div class="form-group mb-3" *ngIf="showAddingField.note_file">

      <label>Joindre une note ou PJ</label>

      <input type="file"
             class="form-control"
             (change)="upload($event)">

    </div>
  </div>

</div>


<div class="card">

  <div class="card-body text-center">

    <button class="btn btn-secondary me-2"
                    *ngIf="selectedData?.user_reponse==null"

            (click)="storeResponse(responseData)">
      Enregistrer
    </button>

     <button class="btn btn-secondary me-2"
                    *ngIf="selectedData?.user_reponse"

            (click)="storeResponse(responseData)">
      Mettre à jour un nouvel état
    </button>

    <!-- <button class="btn btn-warning me-2"
                *ngIf="selectedData?.user_reponse?.unite_admin_id== user?.agent?.unite_admin?.id  && !isSigner()"
            (click)="updateResponse(responseData)">
      Modifier ma réponse
    </button> -->

    <button class="btn btn-primary"
            *ngIf="selectedData?.affectation?.unite_admin_down== user?.agent?.unite_admin?.id  && selectedData?.user_reponse!=null && !isSigner()"
            (click)="transUp()">
      Soumettre au supérieur
    </button>

  </div>

</div>

<ng-template #contentPDF let-offcanvas>
	<div class="offcanvas-header">
    
		<h4 class="offcanvas-title">Visualiseur de fichier</h4>
		<button id="closePDFBtn" type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body" *ngIf="pdfSrc">
        <!-- <div class="d-flex justify-content-center" *ngIf="data?.user_response">
            <button type="button"   (click)="open(contentR)" class="btn btn-warning px-5 rounded-0 text-white">Modifier ma réponse</button>
            <button type="button"   (click)="transmit()" class="btn btn-success px-5 rounded-0 text-white">Transmettre</button>
        </div> -->
       <ngx-extended-pdf-viewer
    [src]="pdfSrc"
    height="80vh"
    useBrowserLocale="true">
  </ngx-extended-pdf-viewer>
	</div>
</ng-template>