<div class="card card-body"  style="overflow: auto; height: 90vh;">
    <div class="h3">Détails de la demande

    </div>
    
<div >

  <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
      <p><strong>Instruction : </strong> {{ selected_data?.affectation.instruction}}</p>
      <p><strong>Pour au plus tard, le</strong> {{ selected_data?.affectation.delay}}</p>
  </div>
  <fieldset>
      <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
      <div class="row">
          <div class="col-md-4">
              <dl>
                  <dt class="dt">Nom et prénom(s)</dt>
                  <dd class="dd">{{selected_data?.adpap.identity}}</dd>
              </dl>
          </div>
          <div class="col-md-4">
              <dl>
                  <dt class="dt">Matricule</dt>
                  <dd class="dd">{{selected_data?.adpap.matricule}}</dd>
              </dl>
          </div>
          <div class="col-md-4">
            <dl>
                <dt class="dt">Statut</dt>
                <dd class="dd">{{selected_data?.adpap.status ?? 'A renseigner'}}</dd>
            </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt class="dt">Date de naissance</dt>
                    <dd class="dd">{{selected_data?.adpap.birthday ?? 'A renseigner'  | date: "dd-MM-yyyy" }}</dd>
                </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Lieu de naissance </dt>
                        <dd class="dd">{{selected_data?.adpap.birthplace ?? 'A renseigner'}}</dd>
                    </dl>
                    </div>
                    <div class="col-md-4">
                        <dl>
                            <dt class="dt">Civilité</dt>
                            <dd class="dd">{{selected_data?.adpap.sex ?? 'A renseigner'}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl>
                            <dt class="dt">Sexe</dt>
                            <dd class="dd">{{selected_data?.adpap.bride ?? 'A renseigner'}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl>
                            <dt class="dt">Structure</dt>
                            <dd class="dd">{{selected_data?.adpap.structure?.libelle ?? 'A renseigner'}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-4">
                        <dl>
                            <dt class="dt">Date de prise de service</dt>
                            <dd class="dd">{{selected_data?.adpap.date_job | date: "dd-MM-yyyy" }}</dd>
                        </dl>
                    </div>
          <div class="col-md-4">
              <dl>
                  <dt class="dt">Corps</dt>
                  <dd class="dd">{{selected_data?.adpap.corporate ?? 'A renseigner'}}</dd>
              </dl>
          </div>
          <div class="col-md-4">
            <dl>
                <dt class="dt">Poste occupé</dt>
                <dd class="dd">{{selected_data?.adpap.function ?? 'A renseigner'}}</dd>
            </dl>
        </div>

        <div class="col-md-4">
            <dl>
                <dt class="dt">Grade</dt>
                <dd class="dd">{{selected_data?.adpap.grade ?? 'A renseigner'}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt class="dt">Echelle</dt>
                <dd class="dd">{{selected_data?.adpap.scale ?? 'A renseigner'}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dt class="dt">Echelon</dt>
                <dd class="dd">{{selected_data?.adpap.level ?? 'A renseigner'}}</dd>
            </dl>
        </div>
       

         
        
          <div class="col-md-4">
              <dl>
                  <dt class="dt">Email</dt>
                  <dd class="dd">{{selected_data?.email}}</dd>
              </dl>
          </div>
          <div class="col-md-4">
              <dl>
                  <dt class="dt">Téléphone</dt>
                  <dd class="dd">{{selected_data?.phone}}</dd>
              </dl>
          </div>
          
      </div>
  </fieldset>
  
  <fieldset >
    <legend class="bg-info p-1 text-white">Pièces jointes</legend>
    <dl *ngFor="let f of selected_data.adpap.files" class="">
        <dt class="dt">{{f.filename}}</dt>
        <dd class="dd">
            <button class="btn btn-sm btn-dark"  (click)="showFile(f)">voir fichier</button>
            <!--button  status="warning"  (click)="treat(selected_data.code,f.id)">Traiter la pièce</button-->

        </dd>
    </dl>
</fieldset>
  <fieldset>
      <legend class="bg-info p-1 text-white">Historique des avis</legend>

      <div  *ngFor="let r of selected_data?.reponses">
          <div>{{r.unite_admin.libelle}}</div> 
          <div>
              <h6> <strong>Accord : </strong>{{getDecision(r.hasPermission)}}</h6>
               <p class="lorem">
                  <strong class="mr-1">Argumentaire</strong>
                  {{r.reason}}
              </p>
              <p class="lorem">
                  <strong class="mr-1">Observation</strong>

                  {{r.observation}}
              </p>
          </div>
      </div>
  </fieldset>

  <fieldset class="mb-3" *ngIf="selected_data.content !=null">
    <legend class="bg-info p-1 text-white">Un contenu livrable déjà disponible</legend>
    <div>
        <div>
                <p  [innerHTML]="selected_data.content"></p>

        </div>
    </div>
</fieldset>
</div>    
  </div>


