<div class="container p-5">
    <h5 class="text-center mb-5">Bienvenue {{user?.name}}</h5>

    <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="text-center p-3 rounded bg-info">
              <h1>{{data?.dossiers}}</h1>
            <h6>Dossiers</h6>
          </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="text-center p-3 rounded bg-info">
                <h1>{{data?.documents}}</h1>
            <h6>Documents</h6>
            </div>
            
        </div>
    </div>

    <h6 class="text-center">Dernières consultations</h6>
        <div class="table-responsive">
            <table class="table" >
                <thead class="">
                    <tr>
                        <th>Utilisateur</th>
                        <th>Document</th>
                        <th>Action</th>
                        <th>Détails</th>
                        <th>Date Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data?.audits | sampleSearch:search_text ">
                      
                        <td>{{d.utilisateur?.lastname}}{{d.utilisateur?.firstname}}</td>
                        <td>{{d.document?.titre}}</td>
                        <td>{{d.action}}</td>
                        <td>{{d.details}}</td>
                        <td>{{d.date_action | date:"dd-MM-yyyy HH:mm:ss"}}</td>
                    
                    </tr>
                
                </tbody>
            </table>
            </div>
</div>