<div class="card card-body"  style="overflow: auto; height: 90vh;">
    <div class=" d-flex justify-content-between h3">Détails de la demande

        <span class="float-right" *ngIf="selected_data.status == 4 || selected_data.status == 7">
            <a  *ngIf="selected_data.ads.deposit_file" [href]="getUrl(selected_data.ads.deposit_file)" class="me-1 mt-1 h6 btn btn-secondary btn-sm" target="_blank">Consulter le rapport</a>
            <button class="btn btn-sm btn-primary" (click)="open(dialog)">{{ selected_data.ads.has_report?'Corriger une donnée':'Enregistrer le dépôt du rapport de stage'}} </button>
            <!--span>Le stagiaire a déposé son rapport ?</!--span>
            <ng-toggle--
            [(ngModel)]="selected_data.ads.has_report"
            [color]="{
                unchecked: '#939da2',
                checked: '#0C574E'
            }"
            [values]="{
                checked: true, unchecked: false
            }"
            (change)="setReportState()"
            ></ng-toggle-->
        </span>
    </div>

    <div >
        <div class="d-flex justify-content-end">
          
        </div>

        <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
            <p><strong>Instruction : </strong> {{ selected_data.affectation.instruction}}</p>
            <p><strong>Pour au plus tard, le</strong> {{ selected_data.affectation.delay}}</p>
        </div>
        <fieldset>
            <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Nom et prénom(s)</dt>
                        <dd class="dd">{{selected_data.ads.identity}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Date de naissance</dt>
                        <dd class="dd">{{selected_data.ads.birthday | date: "dd-MM-yyyy"}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Adresse</dt>
                        <dd class="dd">{{selected_data.ads.address}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Formation</dt>
                        <dd class="dd">{{selected_data.ads.domain}}</dd>

                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Spécialité</dt>
                        <dd class="dd">{{selected_data.ads.graduation}}</dd>

                    </dl>
                </div>      
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Email</dt>
                        <dd class="dd">{{selected_data.email}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Téléphone</dt>
                        <dd class="dd">{{selected_data.phone}}</dd>
                    </dl>
                </div>

            </div>
        </fieldset>
        <fieldset *ngIf="selected_data?.ads?.nature == 'académique'">
            <legend class="bg-info p-1 text-white">Informations de l'école</legend>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Nom de l'école de formation</dt>
                        <dd class="dd">{{selected_data.ads.school}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Nom du Directeur</dt>
                        <dd class="dd">{{selected_data.ads.director_identity}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Adresse</dt>
                        <dd class="dd">{{selected_data.ads.school_address}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Localité / Ville</dt>
                        <dd class="dd">{{selected_data.ads.locality}}</dd>
                    </dl>
                </div>
                
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Email</dt>
                        <dd class="dd">{{selected_data.ads.email_school}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Téléphone</dt>
                        <dd class="dd">{{selected_data.ads.phone_school}}</dd>
                    </dl>
                </div>
              
              
            
            </div>
        </fieldset>
        <fieldset>
            <legend class="bg-info p-1 text-white">Informations de stage</legend>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Nature de stage</dt>
                        <dd class="dd">{{selected_data.ads.nature}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Type de stage</dt>
                        <dd class="dd">{{selected_data.ads.type}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Motif de stage</dt>
                        <dd class="dd">{{selected_data.ads.motif}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Durée de stage</dt>
                        <dd class="dd">{{selected_data.ads.delay}} mois</dd>
                    </dl>
                </div>
            </div>
        </fieldset>
  

        <!--fieldset>
            <legend class="bg-info p-1 text-white">Requête
                 écrite
            </legend>
           <p [innerHTML]="selected_data.ads.message"></p>
        </fieldset-->

        <fieldset >
            <legend class="bg-info p-1 text-white">Pièces jointes</legend>
            <div class="row">
                <dl *ngFor="let f of selected_data.ads.files" class="col-md-3">
                    <dt class="dt">{{f.filename}}</dt>
                    <dd class="dd">
                        <button class="btn btn-sm btn-dark"  (click)="showFile(f)">voir fichier</button>
                        <!--button  status="warning"  (click)="treat(selected_data.code,f.id)">Traiter la pièce</button-->
                    </dd>
                </dl>
            </div>
        
        </fieldset>

        <fieldset>
            <legend class="bg-info p-1 text-white">Historique des avis</legend>
            <div  *ngFor="let r of selected_data.reponses">
                <div>{{r.unite_admin.libelle}}</div> 
                <div>
                    <h6> <strong>Accord : </strong>{{getDecision(r.hasPermission)}}</h6>
                     <p class="lorem">
                        <strong class="mr-1">Argumentaire</strong>
                        {{r.reason}}
                    </p>
                    <p class="lorem">
                        <strong class="mr-1">Observation</strong>

                        {{r.observation}}
                    </p>
                    <div *ngIf="prestation=='autorisation-de-stage'">
                        <p class="lorem">
                            <strong class="mr-1">Direction</strong>
    
                            {{selected_data.ads.structure}}
                        </p>
                        <p class="lorem">
                            <strong class="mr-1">Service</strong>
    
                            {{selected_data.ads.service}}
                        </p>
                        <p class="lorem">
                            <strong class="mr-1">Date début</strong>
    
                            {{selected_data.ads.date_start | date: "dd-MM-yyyy hh:mm:ss"}}
                        </p>
                        <p class="lorem">
                            <strong class="mr-1">Date fin</strong>
    
                            {{selected_data.ads.date_end | date: "dd-MM-yyyy hh:mm:ss" }}
                        </p>
                    </div>
                   
                </div>
            </div>
        </fieldset>
      </div>  
</div>


<ng-template #dialog let-c="close" let-d="dismiss">
    <form #addForm="ngForm" (ngSubmit)="storeR(addForm.value)">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Enregistrement du rapport de stage </h4>
      <button type="button" class="btn-close btn-dark btn-sm btn-white" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="typeLabel">Nom du déposant</label>
        <input type="text" class="form-control" required #name="ngModel" name="depositor_name" [(ngModel)]="selected_data.ads.depositor_name">
    </div>
      <div class="form-group">
        <label for="typeLabel">Date de dépôt</label>
        <input type="date" class="form-control" required name="deposit_date"  [(ngModel)]="selected_data.ads.deposit_date">
    </div>
      <div class="form-group">
        <label for="typeLabel">Charger le rapport</label>
        <input type="file" class="form-control" (change)="upload($event)">
    </div>
    <div class="form-group d-flex justify-content-between">
        <label for="typeLabel">Charger le rapport</label>
        <!-- <ng-toggle
        [(ngModel)]="selected_data.ads.has_report"
        [color]="{
            unchecked: '#939da2',
            checked: '#0C574E'
        }"
        [values]="{
            checked: true, unchecked: false
        }"

        ></ng-toggle> -->
    </div>
   
 </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-primary" [disabled]="addForm.invalid || loading">Sauvegarder <app-spinner-loading [loading]="loading"></app-spinner-loading> </button>

    </div>
</form>

  </ng-template>


