<div class="card card-body"  style="overflow: auto; height: 90vh;">
    <div class="h3">Détails de la demande

    </div>


    <div >

        <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
            <p><strong>Instruction : </strong> {{ selected_data.affectation.instruction}}</p>
            <p><strong>Pour au plus tard, le</strong> {{ selected_data.affectation.delay}}</p>
        </div>
        <fieldset>
            <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Nom et prénpms</dt>
                        <dd class="dd">{{selected_data.vsa.identity}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Sexe</dt>
                        <dd class="dd">{{selected_data.vsa.sex}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Matricule</dt>
                        <dd class="dd">{{selected_data.vsa.matricule}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Situation matrimoniale</dt>
                        <dd class="dd">{{selected_data.vsa.bride}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Entité administrative</dt>
                        <dd class="dd">{{selected_data.vsa.entity}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Grade</dt>
                        <dd class="dd">{{selected_data.vsa.rank}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Date de naissance</dt>
                        <dd class="dd">{{selected_data.vsa.birthday | date:"dd-MM-yyyy" }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Lieu de naissance</dt>
                        <dd class="dd">{{selected_data.vsa.birthplace}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Fonction</dt>
                        <dd class="dd">{{selected_data.vsa.function}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Profession</dt>
                        <dd class="dd">{{selected_data.vsa.job}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Date de prise de service</dt>
                        <dd class="dd">{{selected_data.vsa.job_date | date:"dd-MM-yyyy"}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Email</dt>
                        <dd class="dd">{{selected_data?.email}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Téléphone</dt>
                        <dd class="dd">{{selected_data?.phone}}</dd>
                    </dl>
                </div>
            </div>
        </fieldset>

       
        <fieldset >
            <legend class="bg-info p-1 text-white">Pièces jointes</legend>
            <dl *ngFor="let f of selected_data.vsa.files" class="">
                <dt class="dt">{{f.filename}}</dt>
                <dd class="dd">
                    <button class="btn btn-sm btn-dark"  (click)="showFile(f)">voir fichier</button>
                    <!--button  status="warning"  (click)="treat(selected_data.code,f.id)">Traiter la pièce</button-->
                </dd>
            </dl>
        </fieldset>

        <fieldset>
            <legend class="bg-info p-1 text-white">Historique des avis</legend>

            <div  *ngFor="let r of selected_data.reponses">
                <div>{{r.unite_admin.libelle}}</div> 
                <div>
                    <h6> <strong>Accord : </strong>{{getDecision(r.hasPermission)}}</h6>
                     <p class="lorem">
                        <strong class="mr-1">Argumentaire</strong>
                        {{r.reason}}
                    </p>
                    <p class="lorem">
                        <strong class="mr-1">Observation</strong>

                        {{r.observation}}
                    </p>
                </div>
            </div>
        </fieldset>
      </div> 
</div>