<div class="card card-body"  style="overflow: auto; height: 90vh;">
    <div class="h3">Détails de la demande

    </div>

    <div >

        <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
            <p><strong>Instruction : </strong> {{ selected_data.affectation.instruction}}</p>
            <p><strong>Pour au plus tard, le</strong> {{ selected_data.affectation.delay}}</p>
        </div>
        <fieldset>
            <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Dénomination</dt>
                        <dd class="dd">{{selected_data.ri?.name_structure}}</dd>
                    </dl>
                </div>
               
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Message</dt>
                        <dd class="dd">{{selected_data.ri?.message}}</dd>
                    </dl>
                </div>
               
                <!--div class="col-md-4">
                    <dl>
                        <dt class="dt">RCCM</dt>
                        <dd class="dd">{{selected_data.ri?.rccm}}</dd>
                    </dl>
                </!--div>
                <div-- class="col-md-4">
                    <dl>
                        <dt class="dt">Ifu</dt>
                        <dd class="dd">{{selected_data.ri?.ifu}}</dd>
                    </dl>
                </div-->
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Email</dt>
                        <dd class="dd">{{selected_data.email}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Téléphone</dt>
                        <dd class="dd">{{selected_data.phone}}</dd>
                    </dl>
                </div>
            </div>
        </fieldset>

        <fieldset >
            <legend class="bg-info p-1 text-white">Pièces jointes</legend>
            <div class="row">
                <dl *ngFor="let f of selected_data.ri?.files" class="col-md-3">
                    <dt class="dt">{{f.filename}}</dt>
                    <dd class="dd">
                        <button class="btn btn-sm btn-dark"  (click)="showFile(f)">voir fichier</button>
                        <!--button  status="warning"  (click)="treat(selected_data.code,f.id)">Traiter la pièce</button-->
                    </dd>
                </dl>
            </div>
        
        </fieldset>

        <fieldset>
            <legend class="bg-info p-1 text-white">Historique des avis</legend>

            <div  *ngFor="let r of selected_data.reponses">
                <div>{{r.unite_admin.libelle}}</div> 
                <div>
                    <h6> <strong>Accord : </strong>{{getDecision(r.hasPermission)}}</h6>
                    <p class="lorem">
                        <strong class="mr-1">Argumentaire</strong>
                        {{r.reason}}
                    </p>
                    <p class="lorem">
                        <strong class="mr-1">Observation</strong>

                        {{r.observation}}
                    </p>
                </div>
            </div>
        </fieldset>
      </div>

</div>