<div class="card card-body"  style="overflow: auto; height: 90vh;">
    <div class="h3">Détails de la demande

    </div>
    <div >

        <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
            <p><strong>Instruction : </strong> {{ selected_data.affectation.instruction}}</p>
            <p><strong>Pour au plus tard, le</strong> {{ selected_data.affectation.delay}}</p>
        </div>
        <fieldset>
            <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
            <div class="row">
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Nom et prénom(s)</dt>
                        <dd class="dd">{{selected_data.as.identity}}</dd>
                    </dl>
                </div>
               
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Type</dt>
                        <dd class="dd">{{selected_data.as.nature}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Formation</dt>
                        <dd class="dd">{{selected_data.as.graduation}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Spécialité</dt>
                        <dd class="dd">{{selected_data.as.domain}}</dd>
                    </dl>
                </div>      
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Email</dt>
                        <dd class="dd">{{selected_data.email}}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl>
                        <dt class="dt">Téléphone</dt>
                        <dd class="dd">{{selected_data.phone}}</dd>
                    </dl>
                </div>

            </div>
        </fieldset>
      
     
      
    
      </div>  

</div>