 <div class="row">
    <div class="col-lg-12 mb-3">
        <div class="card p-1">
        <div class="d-flex justify-content-between">
            <button *ngIf="buttonsPermission.add" class="btn btn-sm btn-info"  (click)="add(addContent)">Ajouter</button>
            
            <div class="align-self-center d-flex">
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option value="">Filtrer Par</option>
                    </select>
                    <input type="text" class="form-control" name="search_text" [(ngModel)]="search_text"   (ngModelChange)="onSearchChange()" placeholder="Rechercher..">
                    <button (click)="resetSearch()" class="btn btn-outline-primary" type="button"><i class="fa fa-rotate-left" aria-hidden="true"></i> </button>
                </div>
            </div>
        </div>
            <div class="card-body">

                        <p>{{isPaginate ? pg.total : data.length}} élément(s)</p>
                        <div class="table-responsive">
                        <table class="table" >
                            <thead class="">
                                <tr>
                                    <th style="width: 10px;">#</th>
                                    <th scope="col">Libellé</th>
                                    <th scope="col">Unité parent</th>
                                    <th scope="col">Direction départementale</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of data | paginate: {
                                    id:'ngxP1',
                                    itemsPerPage: pg.pageSize,
                                    currentPage: pg.p,
                                    totalItems: pg.total } | sampleSearch:search_text">
                                <td class="position-relative" style="z-index: 10;"> 
                                    <div class="form-check mb-2">
                                        <input
                                        (click)="checked(d)"
                                        class="form-check-input"
                                        type="radio"
                                        name="selectedDoc"
                                        [value]="d.id"
                                        [(ngModel)]="selectedId"
                                        id="radio-{{ d.id }}"
                                        />
                                    </div>

                                    <div *ngIf="selectedId === d.id" class="overlay-panel-right">
                                        <button
                                        class="btn btn-info btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        (click)="add(addContent)"
                                        title="Ajouter"
                                        matTooltip="Ajouter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-plus-lg"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.show"
                                        (click)="show(showContent)"
                                        type="button"
                                        class="btn btn-outline-primary btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        title="Consulter"
                                        matTooltip="Consulter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-eye"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.edit"
                                        (click)="edit(editContent)"
                                        type="button"
                                        class="btn btn-outline-warning btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        title="Éditer"
                                        matTooltip="Éditer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-pencil"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.delete"
                                        (click)="delete()"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        title="Supprimer"
                                        matTooltip="Supprimer"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-trash"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && !is_active"
                                        (click)="setStatus(1)"
                                        type="button"
                                        class="btn btn-outline-success btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        title="Activer"
                                        matTooltip="Activer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-toggle-on"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && is_active"
                                        (click)="setStatus(0)"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        title="Désactiver"
                                        matTooltip="Désactiver"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-toggle-off"></i>
                                        </button>

                                    

                                        <button
                                        type="button"
                                        class="btn-close float-end"
                                        (click)="selectedId = null"
                                        title="Fermer"
                                        matTooltip="Fermer"
                                        ></button>
                                    </div>
                                    </td>

                                    <td>{{d?.libelle}}</td>
                                    <td>{{d?.parent?.libelle}}</td>
                                    <td>
                                        <span *ngIf="d.department_id == null">
                                            Unité administrative non départementale
                                        </span>
                                        <span *ngIf="d.department_id">
                                            {{d?.department?.name}}

                                        </span>
                                    </td>
                                </tr>

                            <tr *ngIf="search_text !== '' && (data | sampleSearch:search_text).length === 0">
                                <td colspan="5" class="text-center">
                                    <p class="text-muted">Recherche avancée en cours...</p>
                                    <button class="btn btn-outline-secondary btn-sm" (click)="resetSearch()">
                                        Réinitialiser la recherche
                                        </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <pagination-controls 
                        id="ngxP1"
                        (pageChange)="getPage($event)"
                        [maxSize]="9"
                        [directionLinks]="true"
                        [autoHide]="true"
                        [responsive]="true"
                        [previousLabel]="'Précédent'"
                        [nextLabel]="'Suivant'"
                        [screenReaderPaginationLabel]="'Pagination'"
                        [screenReaderPageLabel]="'page'"
                        [screenReaderCurrentLabel]="'Vous êtes sur la page'">
                    </pagination-controls>

            </div><!-- end card -->
        </div>
    </div>
</div>
  

  <ng-template #addContent let-c="close" let-d="dismiss">
    <form #addForm="ngForm" (ngSubmit)="store(addForm.value)">

    <div class="modal-header">
        Enregistrement d'une unité administrative

        <button type="button" class="btn btn-dark"  (click)="d('Cross click')"> <i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="typeLabel">Type</label>
            <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #type="ngModel" name="type_unite_admin_id" ngModel>
                <option [value]="t.id" *ngFor="let t of data2">{{t.libelle}}</option>
            </select>
           </div>
           <div class="form-group">
            <label for="typeLabel">Entité</label>
            <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #type="ngModel" name="entite_admin_id" ngModel>
                <option [value]="t.id" *ngFor="let t of data3">{{t.libelle}}</option>
            </select>
           </div>
            <div class="form-group">
                <label for="typeLabel">Libellé</label>
                <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #name="ngModel" name="libelle" ngModel>
                <span *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <small *ngIf="name.errors?.['required']" id="typeLabelHelp" class="form-text">Le libellé est requis.</small>
                </span>

            </div>
            <div class="form-group">
                <label for="typeLabel">Sigle</label>
                <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #sigle="ngModel" name="sigle" ngModel>
                <span *ngIf="sigle.invalid && (sigle.dirty || sigle.touched)" class="text-danger">
                    <small *ngIf="sigle.errors?.['required']" id="typeLabelHelp" class="form-text">Le libellé est requis.</small>
                </span>

            </div>
            <div class="form-group">
                <label for="typeLabel">Email de la structure</label>
                <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #mail="ngModel" name="email" ngModel>
                <span *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="text-danger">
                    <small *ngIf="mail.errors?.['required']" id="typeLabelHelp" class="form-text">Le email est requis.</small>
                </span>
            </div>
            <div class="form-group">
                <label for="typeLabel">Unité admin sous-tutelle de</label>
                <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp"  #ua_parent_code="ngModel" name="ua_parent_code" ngModel>
                    <option [value]="t.id" *ngFor="let t of data">{{t.libelle}}</option>
                </select>
               </div>

               <div class="d-flex justify-content-between mb-3">
                <span>Est ce une unité administrative départementale ?</span>
                <ng-toggle
                name="ua_department"
                [(ngModel)]="ua_department"
                [color]="{
                    unchecked: '#939da2',
                    checked: '#0C574E'
                }"
                [values]="{
                    checked: true, 
                    unchecked: false
                }"
                (change)="changed($event)"
                ></ng-toggle>
              </div>

              <div class="form-group" *ngIf="ua_department">
                <label for="typeLabel">Choix du département</label>
                <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp"   name="department_id" ngModel>
                    <option [value]="t.id" *ngFor="let t of departments">{{t.name}}</option>
                </select>
               </div>

 </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary" [disabled]="addForm.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>

    </div>
</form>

  </ng-template>

  <ng-template #editContent let-c="close" let-d="dismiss">
    <form #editForm="ngForm" (ngSubmit)="update(editForm.value)">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modification d'une unité administrative</h4>
      <button type="button" class="btn btn-dark"  (click)="d('Cross click')"> <i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="typeLabel">Type</label>
            <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #type="ngModel" name="type_unite_admin_id" [(ngModel)]="selected_data.type_unite_admin_id">
                <option [value]="t.id" *ngFor="let t of data2">{{t.libelle}}</option>
            </select>
           </div>
           <div class="form-group">
            <label for="typeLabel">Entité</label>
            <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #type="ngModel" name="entite_admin_id" [(ngModel)]="selected_data.entite_admin_id">
                <option [value]="t.id" *ngFor="let t of data3">{{t.libelle}}</option>
            </select>
           </div>
            <div class="form-group">
                <label for="typeLabel">Libellé</label>
                <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #name="ngModel" name="libelle" [(ngModel)]="selected_data.libelle">
                <span *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                    <small *ngIf="name.errors?.['required']" id="typeLabelHelp" class="form-text">Le libellé est requis.</small>
                </span>

            </div>
            <div class="form-group">
                <label for="typeLabel">Sigle</label>
                <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #sigle="ngModel" name="sigle" [(ngModel)]="selected_data.sigle">
                <span *ngIf="sigle.invalid && (sigle.dirty || sigle.touched)" class="text-danger">
                    <small *ngIf="sigle.errors?.['required']" id="typeLabelHelp" class="form-text">Le libellé est requis.</small>
                </span>

            </div>
            <div class="form-group">
                <label for="typeLabel">Email de la structure</label>
                <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #mail="ngModel" name="email" [(ngModel)]="selected_data.email">
                <span *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="text-danger">
                    <small *ngIf="mail.errors?.['required']" id="typeLabelHelp" class="form-text">Le email est requis.</small>
                </span>
            </div>
            <div class="form-group">
                <label for="typeLabel">Unité admin sous-tutelle de</label>
                <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp"  #ua_parent_code="ngModel" name="ua_parent_code" [(ngModel)]="selected_data.ua_parent_code">
                    <option [value]="t.id" *ngFor="let t of data">{{t.libelle}}</option>
                </select>
               </div>
               <div class="d-flex justify-content-between mb-3">
                <span>Est ce une unité administrative départementale ?</span>
                <ng-toggle
                name="ua_department"
                [(ngModel)]="ua_department"
                [color]="{
                    unchecked: '#939da2',
                    checked: '#0C574E'
                }"
                [values]="{
                    checked: true, 
                    unchecked: false
                }"
                (change)="changed($event)"
                ></ng-toggle>
              </div>

              <div class="form-group" *ngIf="ua_department">
                <label for="typeLabel">Choix du département</label>
                <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp"   name="department_id" [(ngModel)]="selected_data.department_id">
                    <option [value]="t.id" *ngFor="let t of departments">{{t.name}}</option>
                </select>
               </div>
 </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary" [disabled]="editForm.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
    </div>
</form>

  </ng-template>

  <ng-template #showContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive table-card">
       
        </div>
      </div>
</ng-template>