<div class="mb-3">
  <h6>Demande venant du PDA</h6>
  <table class="table table-sm  table-hover" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code demande</th>
        <th scope="col">Date Enreg.</th>
        <th scope="col">Soumissionaire</th>
        <th scope="col">Email</th>
        <th scope="col">Téléphone</th>
        <th scope="col" >Livrable disponible (Oui/Non)</th>
        <th *ngIf="showLastLevel">Etape</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
       <td>
                     <input class="form-check-input" name="flexRadioDefault" type="radio" (click)="checked(d)">


      </td>
        <td>{{d?.code}}</td>
        <td>{{d?.created_at | date: "dd-MM-yyyy HH:mm:ss"}}</td>
        <td>{{getJson(d?.details)?.identity_requester}}</td>
        <td>{{getJson(d?.details)?.email_requester}}</td>
        <td>{{getJson(d?.details)?.phone_requester}}</td>
        <td *ngIf="d?.filename!=null">
          <span class="badge bg-warning text-white">oui</span>
        </td>
        <td *ngIf="d?.filename==null">
           <span class="badge bg-secondary text-white">non</span>
        </td>
        <td *ngIf="showLastLevel">{{d?.parcours[d?.parcours.length-1]?.libelle}}</td>
      </tr>
      <tr *ngIf="data.length == 0  && !loading2">
          <td colspan="5" class="text-center">Aucun élément trouvé</td>
      </tr>
      <tr *ngIf="loading2">
<img src="assets/spinner.gif"  style="width:180px; height:150px;"/>
    </tr>
  </table>
 </div>

