
<div>
  
    <div class="card card-body">     
        <div class="buttons-row mb-3">
            <button class="btn btn-sm btn-primary mx-1" nbTooltip="Consulter le parcours" nbTooltipPlacement="top" (click)="add(addContent)" >
                Voir le parcours
            </button>
            <!--button class="btn btn-sm btn-success mx-1" nbTooltip="Valider/Autoriser la correction" nbTooltipPlacement="top" (click)="authorized()">
                <i icon="checkmark-outline"></i>
            </button-->
        </div>    

    </div>
  </div>
  

  <ng-template #addContent let-c="close" let-d="dismiss">
    <div class="card card-body"  style="overflow: auto; height: 90vh;">
      <div>
        <h4 class="d-flex justify-content-between" id="modal-basic-title">Détails des parcours

          <button type="button" class="btn btn-dark btn-sm "  (click)="d('Cross click')"> <i class="fa fa-times"></i></button>

        </h4>
      </div>
      
      <div>   

        <ol >
            <li *ngFor="let p of selected_data.parcours">
                <p class="lorem">{{p.libelle}}</p>
            </li>
        </ol>

   
      </div>    
    </div>
  </ng-template>

<ng-template #showContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive table-card">
       
        </div>
      </div>
</ng-template>
 

<ng-template #addContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive table-card">
       
        </div>
      </div>
</ng-template>
<ng-template #editContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive table-card">
       
        </div>
      </div>
</ng-template>