
<div>
  
    <div class="card card-body">     
        <div class="buttons-row mb-3">
            <button class="btn btn-sm btn-primary mx-1" nbTooltip="Consulter le parcours" nbTooltipPlacement="top" (click)="open(dialog)" >
                Voir le parcours
            </button>
            <!--button class="btn btn-sm btn-success mx-1" nbTooltip="Valider/Autoriser la correction" nbTooltipPlacement="top" (click)="authorized()">
                <i icon="checkmark-outline"></i>
            </button-->
        </div>    

    </div>
  </div>
  

  <ng-template #dialog let-c="close" let-d="dismiss">
    <div class="card card-body"  style="overflow: auto; height: 90vh;">
      <div>
        <h4 class="d-flex justify-content-between" id="modal-basic-title">Détails des parcours

          <button type="button" class="btn btn-dark btn-sm "  (click)="d('Cross click')"> <i class="fa fa-times"></i></button>

        </h4>
      </div>
      
      <div>   

        <ol >
            <li *ngFor="let p of selected_data.parcours">
                <p class="lorem">{{p.libelle}}</p>
            </li>
        </ol>

   
      </div>    
    </div>
  </ng-template>


 