    .loading-spinner {
      margin-left: 0.5rem;
    }
    
    .spinner-border-sm {
      width: 1rem;
      height: 1rem;
      border-width: 0.1em;
    }
    
    .spinner-border {
      border: 0.1em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;
      animation: spinner-border 0.75s linear infinite;
    }
    
    @keyframes spinner-border {
      to {
        transform: rotate(360deg);
      }
    }