 <div class="row">
    <div class="col-lg-12 mb-3">
        <div class="card p-1">
        <div class="d-flex justify-content-between">
            <button *ngIf="buttonsPermission.add" class="btn btn-sm btn-info"  (click)="add(addContent)">Ajouter</button>
            
            <div class="align-self-center d-flex">
                <div class="input-group">
                    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option value="">Filtrer Par</option>
                    </select>
                    <input type="text" class="form-control" name="search_text" [(ngModel)]="search_text"   (ngModelChange)="onSearchChange()" placeholder="Rechercher..">
                    <button (click)="resetSearch()" class="btn btn-outline-primary" type="button"><i class="fa fa-rotate-left" aria-hidden="true"></i> </button>
                </div>
            </div>
        </div>
            <div class="card-body">

                        <p>{{isPaginate ? pg.total : data.length}} élément(s)</p>
                        <div class="table-responsive">
                        <table class="table" >
                            <thead class="">
                                <tr>
                                    <th style="width: 10px;">#</th>
                                    <th>Identité</th>
                                    <th>email</th>
                                    <th>Rôle</th>
                                    <th>status</th>
                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of data | paginate: {
                                    id:'ngxP1',
                                    itemsPerPage: pg.pageSize,
                                    currentPage: pg.p,
                                    totalItems: pg.total } | sampleSearch:search_text">
                                <td class="position-relative" style="z-index: 10;"> 
                                    <div class="form-check mb-2">
                                        <input
                                        (click)="checked(d)"
                                        class="form-check-input"
                                        type="radio"
                                        name="selectedDoc"
                                        [value]="d.id"
                                        [(ngModel)]="selectedId"
                                        id="radio-{{ d.id }}"
                                        />
                                    </div>

                                    <!-- <div *ngIf="selectedId === d.id" class="overlay-panel-right">
                                        <button
                                        class="btn btn-info btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        (click)="add(addContent)"
                                        title="Ajouter"
                                        matTooltip="Ajouter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-plus-lg"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.show"
                                        (click)="show(showContent)"
                                        type="button"
                                        class="btn btn-outline-primary btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        title="Consulter"
                                        matTooltip="Consulter"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-eye"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.edit"
                                        (click)="edit(editContent)"
                                        type="button"
                                        class="btn btn-outline-warning btn-sm btn-label waves-effect waves-light mb-1 me-3"
                                        title="Éditer"
                                        matTooltip="Éditer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-pencil"></i>
                                        </button>

                                        <button
                                        *ngIf="buttonsPermission.delete"
                                        (click)="delete()"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        title="Supprimer"
                                        matTooltip="Supprimer"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-trash"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && !is_active"
                                        (click)="setStatus(1)"
                                        type="button"
                                        class="btn btn-outline-success btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        title="Activer"
                                        matTooltip="Activer"
                                        [disabled]="loading"
                                        >
                                        <i class="bi bi-toggle-on"></i>
                                        </button>

                                        <button
                                        *ngIf="is_active != null && is_active"
                                        (click)="setStatus(0)"
                                        type="button"
                                        class="btn btn-outline-danger btn-sm btn-label waves-effect waves-light me-3 mb-1"
                                        title="Désactiver"
                                        matTooltip="Désactiver"
                                        [disabled]="loading"

                                        >
                                        <i class="bi bi-toggle-off"></i>
                                        </button>

                                    

                                        <button
                                        type="button"
                                        class="btn-close float-end"
                                        (click)="selectedId = null"
                                        title="Fermer"
                                        matTooltip="Fermer"
                                        ></button>
                                    </div> -->
                                    </td>

                                    <td></td>
                                    <td></td>
                                    <td></td>

                                    <td>
                                        <span *ngIf="d.is_active" class="p-1 rounded text-white  bg-success">Actif</span>
                                        <span *ngIf="!d.is_active" class="p-1 rounded text-white bg-danger">Bloqué</span>

                                        </td>
                                </tr>

                            <tr *ngIf="search_text !== '' && (data | sampleSearch:search_text).length === 0">
                                <td colspan="5" class="text-center">
                                    <p class="text-muted">Recherche avancée en cours...</p>
                                    <button class="btn btn-outline-secondary btn-sm" (click)="resetSearch()">
                                        Réinitialiser la recherche
                                        </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <pagination-controls 
                        id="ngxP1"
                        (pageChange)="getPage($event)"
                        [maxSize]="9"
                        [directionLinks]="true"
                        [autoHide]="true"
                        [responsive]="true"
                        [previousLabel]="'Précédent'"
                        [nextLabel]="'Suivant'"
                        [screenReaderPaginationLabel]="'Pagination'"
                        [screenReaderPageLabel]="'page'"
                        [screenReaderCurrentLabel]="'Vous êtes sur la page'">
                    </pagination-controls>

            </div><!-- end card -->
        </div>
    </div>
</div>


<div  *ngIf="!showPreview2">
    <!--div>
      Gestion des demandes {{prestationName}}

    </div-->
  
    <div >
        
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="buttons-row">

                    <button class="btn btn-sm btn-primary mx-1" nbTooltip="Consulter l'élément" nbTooltipPlacement="top" *ngIf="hasPermission('consultation')" (click)="show()" >
                        <i icon="eye-outline"></i> consultation
                    </button>

                    <!--button class="btn btn-sm btn-warning mx-1" nbTooltip="Editer un projet de réponse" nbTooltipPlacement="top" *ngIf="hasPermission('modification')"  (click)="openWindow(contentTemplate)" >
                        <i icon="edit-2-outline"></i> Projet de réponse
                    </button-->

                    <button class="btn btn-sm btn-danger mx-1" nbTooltip="Supprimer l'élément" nbTooltipPlacement="top" *ngIf="hasPermission('suppression')"  (click)="open3()">
                        <i icon="trash-2-outline"></i> Suppression
                    </button>

                    <!--button class="btn btn-sm btn-warning mx-1" nbTooltip="Affecter cette demande" nbTooltipPlacement="top" *ngIf="hasPermission('affectation')" (click)="open(dialogAffectation)">
                        <i icon="corner-right-down-outline"></i> Affectation
                    </button-->

                    <!--button class="btn btn-sm btn-success mx-1" nbTooltip="Transmettre mon projet de réponse" nbTooltipPlacement="top" *ngIf="hasPermission('transmission')" (click)="transUp()">
                        <i icon="corner-right-up-outline"></i> Transmission
                    </button-->

                    <!--button class="btn btn-sm btn-info mx-1" nbTooltip="Demander correction de la demande" *ngIf="hasPermission('suspension') && !responseUA.hasPermission " nbTooltipPlacement="top" (click)="open(dialogSuspension)">
                        <i icon="info"></i>Suspension
                    </button-->
                    <!--button class="btn btn-sm btn-info mx-1" nbTooltip="Demander correction de la demande" *ngIf="hasPermission('suspension') && prestation=='autorisation-de-licenciement-pour-motif-economique-ou-motif-personnel'" nbTooltipPlacement="top" (click)="sendReachedAgreement()">
                        <i icon="info"></i>Suspension pour accord à l'amiable
                    </button-->
                    <!--button class="btn btn-sm btn-success mx-1" nbTooltip="Autoriser la délivrance du livrable" nbTooltipPlacement="top" *ngIf="hasPermission('autorisation') && selected_data?.content!=null" (click)="authorized()" >
                        <i icon="checkmark-outline"></i> Autorisation
                    </button-->
                    <button class="btn btn-sm btn-info mx-1" nbTooltip="Télécharger le livrable" nbTooltipPlacement="top" *ngIf="hasPermission('impression')" >
                        <i icon="download-outline"></i> Téléchargement
                    </button>
                    <!--button class="btn btn-sm btn-info mx-1"  *ngIf="responseUA.hasPermission" nbTooltip="Générer le contenu du livrable" nbTooltipPlacement="top"  (click)="open2(dialogAttestation)">
                        <i icon="pantone-outline"></i>Contenu livrable
                    </button-->
                    <!--button  *ngIf="selected_data!=null && selected_data.filename!=null" class="btn btn-sm btn-light"   (click)="showFile2()">Visualiser le document à délivrer</!--button-->
                    <!--button  *ngIf="(prestation=='visa-reglement-interieur-entreprise' || prestation=='visa-contrat-apprentisage') && selected_data!=null && selected_data.filename!=null" class="btn btn-sm btn-success mx-1" nbTooltip="Valider/Autoriser l'élément" nbTooltipPlacement="top"  (click)="authorized()">
                        <i icon="checkmark-outline"></i>
                    </button-->
                    <!--button  *ngIf="selected_data!=null && responseUA.hasPermission==false" class="btn btn-sm btn-danger mx-1" nbTooltip="Rejeter la demande" nbTooltipPlacement="top"  (click)="open(dialogRejet)">
                        <i icon="close-outline"></i> Rejet
                    </button-->
                    <!--button class="btn btn-sm btn-dark mx-1"  *ngIf="prestation=='autorisation-de-licenciement-pour-motif-economique-ou-motif-personnel'" nbTooltip="Simuler les indemnités" nbTooltipPlacement="top"  (click)="open(dialogSimulation)">
                        <i icon="hash-outline"></i>
                    </button-->
                </div>
            </div>
        </div>
        <div class="card card-body">
 
    </div>
    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="buttons-row">

                <button class="btn btn-sm btn-primary mx-1" nbTooltip="Consulter l'élément" nbTooltipPlacement="top" *ngIf="hasPermission('consultation')" (click)="show()" >
                    <i icon="eye-outline"></i> consultation
                </button>

                <!--button class="btn btn-sm btn-warning mx-1" nbTooltip="Editer un projet de réponse" nbTooltipPlacement="top" *ngIf="hasPermission('modification')"  (click)="openWindow(contentTemplate)" >
                    <i icon="edit-2-outline"></i> Projet de réponse
                </button-->

                <button class="btn btn-sm btn-danger mx-1" nbTooltip="Supprimer l'élément" nbTooltipPlacement="top" *ngIf="hasPermission('suppression')"  (click)="open3()">
                    <i icon="trash-2-outline"></i> Suppression
                </button>

                <!--button class="btn btn-sm btn-warning mx-1" nbTooltip="Affecter cette demande" nbTooltipPlacement="top" *ngIf="hasPermission('affectation')" (click)="open(dialogAffectation)">
                    <i icon="corner-right-down-outline"></i> Affectation
                </button-->

                <!--button class="btn btn-sm btn-success mx-1" nbTooltip="Transmettre mon projet de réponse" nbTooltipPlacement="top" *ngIf="hasPermission('transmission')" (click)="transUp()">
                    <i icon="corner-right-up-outline"></i> Transmission
                </button-->

                <!--button class="btn btn-sm btn-info mx-1" nbTooltip="Demander correction de la demande" *ngIf="hasPermission('suspension') && !responseUA.hasPermission " nbTooltipPlacement="top" (click)="open(dialogSuspension)">
                    <i icon="info"></i>Suspension
                </button-->
                <!--button class="btn btn-sm btn-info mx-1" nbTooltip="Demander correction de la demande" *ngIf="hasPermission('suspension') && prestation=='autorisation-de-licenciement-pour-motif-economique-ou-motif-personnel'" nbTooltipPlacement="top" (click)="sendReachedAgreement()">
                    <i icon="info"></i>Suspension pour accord à l'amiable
                </button-->
                <!--button class="btn btn-sm btn-success mx-1" nbTooltip="Autoriser la délivrance du livrable" nbTooltipPlacement="top" *ngIf="hasPermission('autorisation') && selected_data?.content!=null" (click)="authorized()" >
                    <i icon="checkmark-outline"></i> Autorisation
                </button-->
                <button class="btn btn-sm btn-info mx-1" nbTooltip="Télécharger le livrable" nbTooltipPlacement="top" *ngIf="hasPermission('impression')" >
                    <i icon="download-outline"></i> Téléchargement
                </button>
                <!--button class="btn btn-sm btn-info mx-1"  *ngIf="responseUA.hasPermission" nbTooltip="Générer le contenu du livrable" nbTooltipPlacement="top"  (click)="open2(dialogAttestation)">
                    <i icon="pantone-outline"></i>Contenu livrable
                </button-->
                <!--button  *ngIf="selected_data!=null && selected_data.filename!=null" class="btn btn-sm btn-light"   (click)="showFile2()">Visualiser le document à délivrer</!--button-->
                <!--button  *ngIf="(prestation=='visa-reglement-interieur-entreprise' || prestation=='visa-contrat-apprentisage') && selected_data!=null && selected_data.filename!=null" class="btn btn-sm btn-success mx-1" nbTooltip="Valider/Autoriser l'élément" nbTooltipPlacement="top"  (click)="authorized()">
                    <i icon="checkmark-outline"></i>
                </button-->
                <!--button  *ngIf="selected_data!=null && responseUA.hasPermission==false" class="btn btn-sm btn-danger mx-1" nbTooltip="Rejeter la demande" nbTooltipPlacement="top"  (click)="open(dialogRejet)">
                    <i icon="close-outline"></i> Rejet
                </button-->
                <!--button class="btn btn-sm btn-dark mx-1"  *ngIf="prestation=='autorisation-de-licenciement-pour-motif-economique-ou-motif-personnel'" nbTooltip="Simuler les indemnités" nbTooltipPlacement="top"  (click)="open(dialogSimulation)">
                    <i icon="hash-outline"></i>
                </button-->
            </div>
        </div>
    </div>
    </div>

  </div>
  
<div *ngIf="showPreview2"  class="container">
    <div>
        <div>
            <div class="d-flex justify-content-around">
                <button class="btn btn-outline-dark mb-3 " (click)="back()">Fermer le prévisualiseur</button>
                <!--button class="btn btn-outline-success mb-3 " *ngIf="hasPermission('autorisation') && !selected_data.isAutorized" (click)="open(dialogPass)">Signer l'attestation</button>
                <button-- class="btn btn-outline-success mb-3 " *ngIf="hasPermission('autorisation') && selected_data.isAutorized" (click)="delivered()">Délivrer l'attestation</button-->
                
            </div>
        </div>

        <div>
         
            <object [data]="pdfSrc" type="application/pdf" width="100%" height="600px"></object>
        </div>
    </div>
  
    
  </div>

  <ng-template #addContent  let-ref="dialogRef">
    <button id="cBtn"  class="btn-sm float-right" (click)="ref.close()"><span aria-hidden="true">&times;</span></button>


</ng-template>


  <ng-template #dialogEdit  let-ref="dialogRef">
    <div>
      <div>Projet de réponse de la demande

        <button  class="btn-sm float-right" (click)="ref.close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div>
      
      </div>    
    </div>
  </ng-template>

  <ng-template #contentTemplate let-ref="windowRef" >
          <form #addResponse="ngForm" (ngSubmit)="storeResponse(ref,addResponse.value)">
          <div size="large">
         
                <div class="form-group">
                    <label for="">Argumentaire</label>
                    <textarea name="" id="" cols="30" class="form-control" rows="2" [(ngModel)]="responseUA.reason" name="reason"></textarea>
                </div>
                <div class="form-group">
                    <label for="">observation</label>
                    <textarea name="" id="" cols="30" class="form-control" rows="5" [(ngModel)]="responseUA.observation" name="observation"
                    ></textarea>
                </div>

                <h6>Décision finale</h6>
                <!--div [(value:any)]="radioGroupValue" [(ngModel)]="responseUA.hasPermission" name="hasPermission" >
                    <div
                      [value]="true" >
                      favorable
                    </div>
                    <div
                      [value]="false"  >
                      Défavorable
                    </div>
                  </div-->
          </div>
  
          <div *ngIf="selected_data!=null && responseUA.hasPermission==true && prestation=='autorisation-de-stage'" >
            <hr>
            <h6>Complèter ces informations</h6>
            <hr>
            <div class="row">
            <div class="col-12 col-md-6">

                <div class="form-group">
                     <label for="">Direction</label>
                     <input type="text" class="form-control" [(ngModel)]="selected_data.ads.structure" name="structure">
                </div>
            </div>
            <!-- <div class="col-12 col-md-6">
                <div class="form-group">
                     <label for="">Service</label>
                     <input type="text" class="form-control" [(ngModel)]="selected_data.ads.service" name="service">
                </div>
            </div> -->
            <div class="col-12 col-md-6">
                <div class="form-group">
                     <label for="">Date début de stage</label>
                     <input type="date" class="form-control" [(ngModel)]="selected_data.ads.date_start" name="date_start">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                     <label for="">Date fin de stage</label>
                     <input type="date" class="form-control" [(ngModel)]="selected_data.ads.date_end" name="date_end">
                </div>
            </div>
                </div>
          </div>
            <button type="submit" class="btn btn-outline-primary" [disabled]="addResponse.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
           
        </form>

  
  </ng-template>


  <ng-template #dialogAffectation let-ref="dialogRef">
    <form #addInstruction="ngForm" (ngSubmit)="transDown(addInstruction.value,ref)">
    <div > 
        <div>
            <div class="form-group">
                <label for="">Laissez une instruction</label>
                <textarea name="instruction" rows="3" class="form-control" required ngModel></textarea>
            </div>
            <div class="form-group">
                <label for="">Pour au plus tard, le </label>
                <input type="date" nbInput name="delay" required ngModel>
            </div>
        </div>
        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="addInstruction.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
        </div>

    </div>
</form>

</ng-template>
<ng-template #dialogSuspension let-ref="dialogRef">
    <form #addSusp="ngForm" (ngSubmit)="needCorrection(addSusp.value,ref)">
    <div > 
        <div>
            <div class="form-group">
                <label for="">Laissez le motif</label>
                <textarea name="commentaire" rows="3" class="form-control" required ngModel></textarea>
            </div>
    
        </div>
        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="addSusp.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
        </div>

    </div>
</form>

</ng-template>
<ng-template #dialogRejet let-ref="dialogRef">
    <form #addRejet="ngForm" (ngSubmit)="decline(addRejet.value,ref)">
    <div > 
        <div>
            <div class="form-group">
                <label for="">Laissez le motif</label>
                <textarea name="commentaire" rows="3" class="form-control" required ngModel></textarea>
            </div>
    
        </div>
        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="addRejet.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
        </div>

    </div>
</form>

</ng-template>
  <ng-template #dialogAttestation let-ref="dialogRef">
    <form #addAttestation="ngForm" (ngSubmit)="deliveryrDoc(addAttestation.value,ref)">
    <div style="height: 90vh; width: 800px; margin-left: 10%; margin-right: 10%;"> 
        <div>
            Création du document
            <button  class="btn-sm float-right" (click)="ref.close()"><span aria-hidden="true">&times;</span></button>

        </div>
        <div class="p-3">
            <div class="" *ngIf="prestation=='autorisation-de-stage'">
                <h6>Point des contenus générés</h6>
                <ul>
                    <li *ngFor="let d of docs"><strong class="mr-2">{{d?.name}}</strong> <i class="fa fa-check" *ngIf="d?.content != null"></i></li>

                </ul>
                <div class="form-group" >
                    <label for="">Veuillez sélection le contenu à générer</label>
                    <select class="form-control" (change)="changeDesc($event)">
                        <option value="0">Lettre d'acception</option>
                        <option value="1">Lettre d'agrément</option>
                        <option value="2">Autorisation de stage</option>
                      </select>
                </div>
            </div>
          
            <!-- <div *ngIf="content !=null">
                <div>
                    <div class="mb-3" >
                <h6 class="mb-3"><strong>Un contenu déjà disponible</strong></h6>
                <p  [innerHTML]="content"></p>
            </div>
                </div>
            </div> -->
            <div class="form-group" >
                <!--ckeditor  [config]="{ extraPlugins: 'divarea', height: '400',width:'800'}" name="contenu" [(ngModel)]="desc"></ckeditor-->
            </div>
          
        </div>
        
         
        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="addAttestation.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
        </div>

    </div>
</form>

</ng-template>
  <ng-template #dialogSimulation let-ref="dialogRef">
    <form>
    <div style="height: 90vh; width: 80%; margin-left: 10%; margin-right: 10%;"> 
        <div>
            Simuler d'indenminité
            <button  class="btn-sm float-right" (click)="ref.close()"><span aria-hidden="true">&times;</span></button>

        </div>
        
        <div>  

            <i icon="shopping-bag-outline">Informations sur le contrat de travail</i>
       
           <div class="row">
               <div class="col-12 col-md-6">
                   <div class="form-group">
                        <label for="">Date d'entrée dans l'entreprise</label>
                        <input type="date" class="form-control">
                   </div>
               </div>
               <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="">Date de cessation des fonctions</label>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group row">
                    <span>Contrat de travail écrit</span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Oui</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Non</label>
                      </div>
                   
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="">Dernier salaire net</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="">Montant moyen des 3 derniers mois de salaire net</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="">Nombre de salariés</label>
                    <select name="" class="form-control" id="">
                        <option value="">Moins de 11</option>
                        <option value="">Entre 11 et 49</option>
                        <option value="">Moins 50 et 499</option>
                        <option value="">500 et plus</option>
                    </select>
                </div>
            </div>
           </div>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary" >Calculer  </button>
        </div>

    </div>
</form>

</ng-template>


<div *ngIf="showPreview"  class="container">
    <div>
        <div>
            <div class="d-flex justify-content-around">
                <button class="btn btn-outline-dark mb-3 " (click)="back()">Retour</button>
                <button class="btn btn-outline-success mb-3 " [disabled]="!activeobsPanel"  (click)="openWindow(contentTemplateAmendement)">Faire des observations</button>
        
            </div>
        </div>

        <div>
         
            <object [data]="pdfSrc" type="application/pdf" width="100%" height="600px"></object>
        </div>
    </div>
  
    
  </div>

  <ng-template #contentTemplateAmendement let-ref="windowRef">
    <div class="list-card"> 
        <form #addAmend="ngForm" (ngSubmit)="storeAmend(ref)">
        <div size="large">
              <div class="form-group">
                  <label for="">observation</label>
                  <textarea name="" id="" cols="30" class="form-control" rows="5" [(ngModel)]="observation" name="observation"
                  ></textarea>
              </div>
        </div>

        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="addAmend.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>

        </div>
      </form>

    </div>

</ng-template>

<ng-template #dialogPass let-ref="dialogRef">
    <form #addInstruction="ngForm" (ngSubmit)="authorized(addInstruction.value)">
    <div > 
        <div>
            <div class="form-group">
                <label for="">Saisissez votre mot de passe de délivrance</label>
                <textarea name="password" rows="3" class="form-control" required ngModel></textarea>
            </div>
          
        </div>
        <div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="addInstruction.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
        </div>

    </div>
</form>

</ng-template>
<ng-template #showContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Détails des informations</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body">
        <div class="table-responsive table-card">
       
        </div>
      </div>
</ng-template>