<div>
    <div>
      Gestion des fichiers requis par prestation

    </div>
  
    <div>
        
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="buttons-row">
                  <button class="btn btn-sm btn-warning mx-1" (click)="open(dialogU)" nbTooltip="Modifier l'élément" nbTooltipPlacement="top" *ngIf="hasPermission('modification')">
                    <i icon="edit-2-outline"></i>
                </button>
                <button class="btn btn-sm btn-danger mx-1" (click)="delete()" nbTooltip="Supprimer l'élément" nbTooltipPlacement="top" *ngIf="hasPermission('suppression')">
                    <i icon="trash-2-outline"></i>
                </button>

                <select type="text" class="form-control-sm" (change)="sortBy($event)">
                  <option selected disabled>Filtrer par prestation</option>
                  <option [value]="t.id" *ngFor="let t of data2">{{t.name}}</option>
                </select>
               
                    <button class=" btn btn-sm btn-primary float-right" (click)="open(dialog)">Ajouter un nouveau fichier requis </button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Libellé</th>
                <th scope="col">slug</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data3">
                <th >
                               <input class="form-check-input" name="flexRadioDefault" type="radio" (click)="checked(d)">


                </th>
                <td>{{d?.name}}</td>
                <td>{{d?.slug}}</td>
              </tr>
              <tr *ngIf="data.length == 0  && !loading2">
                  <td colspan="3" class="text-center">Aucun élément trouvé</td>
              </tr>
              <tr *ngIf="loading2">
        <img src="assets/spinner.gif"  style="width:180px; height:150px;"/>
            </tr>
          </table>
    </div>
  </div>
  
  <ng-template #dialog  let-ref="dialogRef">
    <form #addForm="ngForm" (ngSubmit)="store(addForm.value,ref)">
    <div>
      <div>Enregistrement de Fichier requis pour la prestation

        <button  class="btn-sm float-right" (click)="ref.close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div>
                <p class="lead mb-3" *ngIf="error != ''">
                    <ngb-alert [dismissible]="false" type="danger">{{ error }}</ngb-alert>
                </p>
               <div class="form-group">
                <label for="typeLabel">Prestation</label>
                <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #type="ngModel" name="prestation_id" ngModel>
                    <option [value]="t.id" *ngFor="let t of data2">{{t.name}}</option>
                </select>
               </div>
                <div class="form-group">
                    <label for="typeLabel">Libellé</label>
                    <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #name="ngModel" name="name" ngModel>
                    <span *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                        <small *ngIf="name.errors?.['required']" id="typeLabelHelp" class="form-text">Le libellé est requis.</small>
                    </span>
    
                </div>
            
      </div>
      <div>
        <button type="submit" class="btn btn-outline-primary" [disabled]="addForm.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
      </div>
    
    </div>
</form>
  </ng-template>


  <ng-template #dialogU  let-ref="dialogRef">
    <form #editForm="ngForm" (ngSubmit)="update(editForm.value,ref)">
    <div>
      <div>Modification de Fichier requis pour la prestation

        <button  class="btn-sm float-right" (click)="ref.close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div>
                <p class="lead mb-3" *ngIf="error != ''">
                    <ngb-alert [dismissible]="false" type="danger">{{ error }}</ngb-alert>
                </p>
               <div class="form-group">
                <label for="typeLabel">Prestation</label>
                <select type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #type="ngModel" name="prestation_id" [(ngModel)]="selected_data.prestation_id">
                    <option [value]="t.id" *ngFor="let t of data2">{{t.name}}</option>
                </select>
               </div>
                <div class="form-group">
                    <label for="typeLabel">Libellé</label>
                    <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #name="ngModel" name="name" [(ngModel)]="selected_data.name">
                    <span *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                        <small *ngIf="name.errors?.['required']" id="typeLabelHelp" class="form-text">Le libellé est requis.</small>
                    </span>
    
                </div>
                <div class="form-group">
                  <label for="typeLabel">Slug</label>
                  <input type="text" class="form-control" id="typeLabel" aria-describedby="typeLabelHelp" required #slug="ngModel" name="slug" [(ngModel)]="selected_data.slug">
                  <span *ngIf="slug.invalid && (name.dirty || slug.touched)" class="text-danger">
                      <small *ngIf="slug.errors?.['required']" id="typeLabelHelp" class="form-text">Le slug est requis.</small>
                  </span>
  
              </div>
            
      </div>
      <div>
        <button type="submit" class="btn btn-outline-primary" [disabled]="editForm.invalid || loading">Sauvegarder <app-loading [isVisible]="loading"></app-loading> </button>
      </div>
    
    </div>
</form>
  </ng-template>