<ng-container *ngIf="selected_data?.prestation?.code == 'PS00035'">
    <div class="card card-body"  style="overflow: auto; height: 90vh;">
        <div class="h3">Détails de la demande
    
        </div>
    
    
        <div >
    
            <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
                <p><strong>Instruction : </strong> {{ selected_data?.affectation.instruction}}</p>
                <p><strong>Pour au plus tard, le</strong> {{ selected_data?.affectation.delay}}</p>
            </div>
            <fieldset>
                <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
                <div class="row">
                        <dl class="col-md-4">
                            <dt class="dt">Type de demande</dt>
                            <dd class="dd">{{detail.type=="physique"?"Personne physique":"Personne morale"}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Nom et prénom(s) du soumissionaire</dt>
                            <dd class="dd">{{detail.identity_requester}}</dd>
                        </dl>
                         <dl class="col-md-4">
                            <dt class="dt">Qualité du soumissionaire</dt>
                            <dd class="dd">{{detail.quality_requester}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Email du soumissionaire</dt>
                            <dd class="dd">{{detail.email_requester}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Contact du soumissionaire</dt>
                            <dd class="dd">{{detail.phone_requester}}</dd>
                        </dl>
    
                        <ng-container *ngIf="detail.type=='physique' ">
                            <dl class="col-md-4">
                                <dt class="dt">Nom et prénom(s) de l"employeur</dt>
                                <dd class="dd">{{detail.identity_respo}}</dd>
                            </dl>
                             <dl class="col-md-4">
                                <dt class="dt">Profession de l"employeur</dt>
                                <dd class="dd">{{detail.job_respo}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Email de l"employeur</dt>
                                <dd class="dd">{{detail.email_respo}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Contact de l"employeur</dt>
                                <dd class="dd">{{detail.phone_respo}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Departement</dt>
                                <dd class="dd">{{detail.department_respo?.libelle}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Commune</dt>
                                <dd class="dd">{{detail.commune_respo?.libelleCom}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Ville</dt>
                                <dd class="dd">{{detail.city_respo}}</dd>
                            </dl>
                  
                        </ng-container>
    
                        <ng-container *ngIf="detail.type!='physique'">
                            <dl class="col-md-4">
                                <dt class="dt">Raison sociale de l"employeur</dt>
                                <dd class="dd">{{detail.name_structure}}</dd>
                            </dl>
                             <dl class="col-md-4">
                                <dt class="dt">Type de structure</dt>
                                <dd class="dd">{{detail.type_structure}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Email de l"employeur</dt>
                                <dd class="dd">{{detail.email_structure}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Contact de l"employeur</dt>
                                <dd class="dd">{{detail.phone_structure}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Departement</dt>
                                <dd class="dd">{{detail.department_structure?.libelle}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Commune</dt>
                                <dd class="dd">{{detail.commune_structure?.libelleCom}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Ville</dt>
                                <dd class="dd">{{detail.city_structure}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Quartier</dt>
                                <dd class="dd">{{detail.district_structure}}</dd>
                            </dl>
                  
                        </ng-container>
                      
                </div>
            </fieldset>
    
            <fieldset>
                <legend class="bg-info p-1 text-white">Contrat soumis</legend>
    
              <table class="table table-sm">
                    <thead>
                        <th>#</th>
                        <th>Identité</th>
                        <th>Nationalité</th>
                        <th>Spécialité</th>
                        <th>Profession</th>
                        <th>Statut</th>
                        <th>Fichier</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of detail.list; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{d.identity}}</td>
                            <td>{{d.nationality}}</td>
                            <td>{{d.speciality}}</td>
                            <td>{{d.job}}</td>
                            <td>
                                <span class="px-1 bg-success rounded text-white" *ngIf="d.is_valid">Validé</span>
                                <span class="px-1 bg-warning rounded text-white" *ngIf="d.is_valid ==null ">En attente de vérification</span>
                                <span class="px-1 bg-info rounded text-white" *ngIf="d.is_valid ==false ">Cet employé dispose déjà d'un contrat dans la base</span>
                            </td>
                            <td >   
                                <button class="btn btn-sm btn-dark"  (click)="showFileContract(d.file.file64)">voir fichier</button>
                            </td>
                            <!-- <td *ngIf="d.has_contract && d.is_valid ==false ">
                                <button class="btn btn-sm btn-dark"  (click)="showFileContract(d.file.file)">voir fichier</button>
                            </td> -->
                            <td *ngIf="!d.has_contract && d.is_valid ==false ">
                                <button class="btn btn-sm btn-dark"  (click)="showFileContract(d.old_contract)">Voir l'ancien contrat</button>
                                <button class="btn btn-sm btn-dark"  (click)="requestProof(selected_data.code,i)">Demander une preuve</button>
                            </td>
                        </tr>
                    </tbody>
              </table>
            </fieldset>
    
            <fieldset >
                <legend class="bg-info p-1 text-white">Pièces jointes</legend>
                <div class="row">
                    <dl *ngFor="let f of selected_data?.files" class="col-md-3">
                        <dt class="dt">{{f.filename}}</dt>
                        <dd class="dd">
                            <button class="btn btn-sm btn-dark"  (click)="showFile(f)">voir fichier</button>
                            <!--button  status="warning"  (click)="treat(selected_data?.code,f.id)">Traiter la pièce</button-->
                        </dd>
                    </dl>
                </div>
            
            </fieldset>
    
            <fieldset>
                <legend class="bg-info p-1 text-white">Historique des avis</legend>
    
                <div  *ngFor="let r of selected_data?.reponses" class="card border p-1">
                    <div class="h5 text-primary">{{r.unite_admin.libelle}}</div> 
                    <div>
                        <h6> <strong class="text-secondary me-1">Accord : </strong>{{getDecision(r.hasPermission)}}</h6>
                     
                         <p class="lorem">
                            <strong class="me-1 text-secondary">Argumentaire</strong>
                            {{r.reason}}
                        </p>
                        <p class="lorem">
                            <strong class="me-1 text-secondary">Observation</strong>
    
                            {{r.observation}}
                        </p>
                        <div class="d-flex justify-content-between">
                            <button *ngIf="r.note != null" class="btn btn-primary btn-sm"   (click)="showResponseFile(r.note)">Voir la note de service</button>
                            <button *ngIf="r.preview_file != null"  class="btn btn-primary btn-sm"  (click)="showResponseFile(r.preview_file)">Voir le prototype livrable</button>
    
                        </div>
                    </div>
                </div>
            </fieldset>
          </div> 
    </div>
</ng-container>
<ng-container *ngIf="selected_data?.prestation?.code== 'PS00577'">
    <div class="card card-body"  style="overflow: auto; height: 90vh;">
        <div class="h3">Détails de la demande
    
        </div>
    
    
        <div >
    
            <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
                <p><strong>Instruction : </strong> {{ selected_data?.affectation.instruction}}</p>
                <p><strong>Pour au plus tard, le</strong> {{ selected_data?.affectation.delay}}</p>
            </div>
            <fieldset>
                <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
                <div class="row">
                        <dl class="col-md-4">
                            <dt class="dt">Type de demande</dt>
                            <dd class="dd">{{detail.type=="physique"?"Personne physique":"Personne morale"}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Nom et prénom(s) du soumissionaire</dt>
                            <dd class="dd">{{detail.identity_requester}}</dd>
                        </dl>
                         <dl class="col-md-4">
                            <dt class="dt">Qualité du soumissionaire</dt>
                            <dd class="dd">{{detail.quality_requester}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Email du soumissionaire</dt>
                            <dd class="dd">{{detail.email_requester}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Contact du soumissionaire</dt>
                            <dd class="dd">{{detail.phone_requester}}</dd>
                        </dl>
    
                        <ng-container >
                            <dl class="col-md-4">
                                <dt class="dt">Raison sociale de l"employeur</dt>
                                <dd class="dd">{{detail.structure_name}}</dd>
                            </dl>
                             <dl class="col-md-4">
                                <dt class="dt">Type de structure</dt>
                                <dd class="dd">{{detail.structure_type}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Profession</dt>
                                <dd class="dd">{{detail.job}}</dd>
                            </dl>
                           
                            <dl class="col-md-4" >
                                <dt class="dt">Departement</dt>
                                <dd class="dd">{{detail.department}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Commune</dt>
                                <dd class="dd">{{detail.municipality_id}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Ville</dt>
                                <dd class="dd">{{detail.city}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Quartier</dt>
                                <dd class="dd">{{detail.district}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Adresse</dt>
                                <dd class="dd">{{detail.address}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Fichier preuve</dt>
                                <dd class="dd"> 
                                  <button class="btn btn-sm btn-dark"  (click)="showFileContract(detail.doc_file.file)">voir fichier</button>
                                </dd>
                            </dl>
                        </ng-container>


                        <dl class="col-md-4">
                            <dt class="dt">Nom du responsable</dt>
                            <dd class="dd">{{detail.identity_responsable}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Référence casier judiciaire</dt>
                            <dd class="dd">{{detail.criminal_record}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Fichier casier judiciaire</dt>
                            <dd class="dd"> 
                              <button class="btn btn-sm btn-dark"  (click)="showFileContract(detail.criminal_record_file.file)">voir fichier</button>
                            </dd>
                        </dl>
                      
                </div>
            </fieldset>
    
            <fieldset>
                <legend class="bg-info p-1 text-white">Contrat soumis</legend>
    
              <table class="table table-sm">
                    <thead>
                        <th>#</th>
                        <th>Apprenti bénéficiaire</th>
                        <th>Age</th>
                        <th>Métier</th>
                        <th>Fichier</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of detail.list; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{d.beneficiary}}</td>
                            <td>{{d.age}}</td>
                            <td>{{d.job}}</td>
                            <td>
                                <button class="btn btn-sm btn-dark"  (click)="showFileContract(d.file)">voir fichier</button>
    
                            </td>
                        </tr>
                    </tbody>
              </table>
            </fieldset>
    
            <fieldset >
                <legend class="bg-info p-1 text-white">Pièces jointes</legend>
                <div class="row">
                    <dl *ngFor="let f of selected_data?.files" class="col-md-3">
                        <dt class="dt">{{f.filename}}</dt>
                        <dd class="dd">
                            <button class="btn btn-sm btn-dark"  (click)="showFile(f)">voir fichier</button>
                            <!--button  status="warning"  (click)="treat(selected_data?.code,f.id)">Traiter la pièce</button-->
                        </dd>
                    </dl>
                </div>
            
            </fieldset>
    
            <fieldset>
                <legend class="bg-info p-1 text-white">Historique des avis</legend>
    
                <div  *ngFor="let r of selected_data?.reponses" class="card border p-1">
                    <div class="h5 text-primary">{{r.unite_admin.libelle}}</div> 
                    <div>
                        <h6> <strong class="text-secondary me-1">Accord : </strong>{{getDecision(r.hasPermission)}}</h6>
                     
                         <p class="lorem">
                            <strong class="me-1 text-secondary">Argumentaire</strong>
                            {{r.reason}}
                        </p>
                        <p class="lorem">
                            <strong class="me-1 text-secondary">Observation</strong>
    
                            {{r.observation}}
                        </p>
                        <div class="d-flex justify-content-between">
                            <button *ngIf="r.note != null" class="btn btn-primary btn-sm"   (click)="showResponseFile(r.note)">Voir la note de service</button>
                            <button *ngIf="r.preview_file != null"  class="btn btn-primary btn-sm"  (click)="showResponseFile(r.preview_file)">Voir le prototype livrable</button>
    
                        </div>
                    </div>
                </div>
            </fieldset>
          </div> 
    </div>
</ng-container>
<ng-container *ngIf="selected_data?.prestation?.code == 'PS00565'">
    <div class="card card-body"  style="overflow: auto; height: 90vh;">
        <div class="h3">Détails de la demande
    
        </div>
    
    
        <div >
    
            <div *ngIf="selected_data?.affectation?.instruction" class="alert alert-info">
                <p><strong>Instruction : </strong> {{ selected_data?.affectation.instruction}}</p>
                <p><strong>Pour au plus tard, le</strong> {{ selected_data?.affectation.delay}}</p>
            </div>
            <fieldset>
                <legend class="bg-info p-1 text-white">Informations natives de la demande</legend>
                <div class="row">
                        <dl class="col-md-4">
                            <dt class="dt">Type de demande</dt>
                            <dd class="dd">{{detail.type=="physique"?"Personne physique":"Personne morale"}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Nom et prénom(s) du soumissionaire</dt>
                            <dd class="dd">{{detail.identity}}</dd>
                        </dl>
                         <dl class="col-md-4">
                            <dt class="dt">Profession du soumissionaire</dt>
                            <dd class="dd">{{detail.job}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Email du soumissionaire</dt>
                            <dd class="dd">{{detail.email}}</dd>
                        </dl>
                        <dl class="col-md-4">
                            <dt class="dt">Contact du soumissionaire</dt>
                            <dd class="dd">{{detail.phone}}</dd>
                        </dl>
    
                            <dl class="col-md-4">
                                <dt class="dt">Raison sociale de l"employeur</dt>
                                <dd class="dd">{{detail.name_structure}}</dd>
                            </dl>
                             <dl class="col-md-4">
                                <dt class="dt">Type de structure</dt>
                                <dd class="dd">{{detail.type_structure}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Departement</dt>
                                <dd class="dd">{{detail.department}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Commune</dt>
                                <dd class="dd">{{detail.municipality_id}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Ville</dt>
                                <dd class="dd">{{detail.city}}</dd>
                            </dl>
                            <dl class="col-md-4">
                                <dt class="dt">Quartier</dt>
                                <dd class="dd">{{detail.district}}</dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Fichier casier judiciaire</dt>
                                <dd class="dd"> 
                                  <button class="btn btn-sm btn-dark"  (click)="showFileContract(detail.criminal_record_file.file)">voir fichier</button>
                                </dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Avez un délégué du personnel ?</dt>
                                <dd class="dd"> 
                                    {{detail?.has_delegate ? 'Oui':'Non'}}
                                </dd>
                            </dl>
                            <dl class="col-md-4" *ngIf="detail?.has_delegate" >
                                <dt class="dt">Avis du ou des délégués du personnel</dt>
                                <dd class="dd"> 
                                  <button class="btn btn-sm btn-dark"  (click)="showFileContract(detail.criminal_record_file.file)">voir fichier</button>
                                </dd>
                            </dl>
                            <dl class="col-md-4" >
                                <dt class="dt">Règlement intérieur</dt>
                                <dd class="dd"> 
                                  <button class="btn btn-sm btn-dark"  (click)="showFileContract(detail.criminal_record_file.file)">voir fichier</button>
                                </dd>
                            </dl>
                </div>
            </fieldset>
    
            
    
            <fieldset >
                <legend class="bg-info p-1 text-white">Pièces jointes</legend>
                <div class="row">
                    <dl *ngFor="let f of selected_data?.files" class="col-md-3">
                        <dt class="dt">{{f.filename}}</dt>
                        <dd class="dd">
                            <button class="btn btn-sm btn-dark"  (click)="showFile(f)">voir fichier</button>
                            <!--button  status="warning"  (click)="treat(selected_data?.code,f.id)">Traiter la pièce</button-->
                        </dd>
                    </dl>
                </div>
            
            </fieldset>
    
            <fieldset>
                <legend class="bg-info p-1 text-white">Historique des avis</legend>
    
                <div  *ngFor="let r of selected_data?.reponses" class="card border p-1">
                    <div class="h5 text-primary">{{r.unite_admin.libelle}}</div> 
                    <div>
                        <h6> <strong class="text-secondary me-1">Accord : </strong>{{getDecision(r.hasPermission)}}</h6>
                     
                         <p class="lorem">
                            <strong class="me-1 text-secondary">Argumentaire</strong>
                            {{r.reason}}
                        </p>
                        <p class="lorem">
                            <strong class="me-1 text-secondary">Observation</strong>
    
                            {{r.observation}}
                        </p>
                        <div class="d-flex justify-content-between">
                            <button *ngIf="r.note != null" class="btn btn-primary btn-sm"   (click)="showResponseFile(r.note)">Voir la note de service</button>
                            <button *ngIf="r.preview_file != null"  class="btn btn-primary btn-sm"  (click)="showResponseFile(r.preview_file)">Voir le prototype livrable</button>
    
                        </div>
                    </div>
                </div>
            </fieldset>
          </div> 
    </div>
</ng-container>